node_modules/
dist/
.env
logs/
*.log
uploads/games/*
!uploads/games/.gitkeep
installer/app/
installer/dist/
.DS_Store
Thumbs.db

.vercel
.env*

installer/VexInstaller/bin/
installer/VexInstaller/obj/
installer/VexInstaller/out/
installer/install.cmd